<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% if editmode %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/moperest/css/restbackend.css')) %}
    {% endif %}

    {% block head_stylesheets deferred %}
        {{ pimcore_head_link() }}
    {% endblock %}

</head>
<body class="restlayout">
    <div class="rest-content">
        <h1 class="content-area-label">Content Bereich</h1>
        <!-- BEGIN:CONTENT -->
            {{ block('content') }}
        <!-- END:CONTENT -->
    </div>
</body>
</html>
