<!-- sw-gallery -->
<div class="mod-image-slider">
    <div class="image-slider" data-image-slider="true" data-image-gallery="true" data-maxzoom="0"
         data-thumbnails=".image--thumbnails">

        <div class="image-slider--container">
            <div class="image-slider--slide">
                {% for i in pimcore_iterate_block(pimcore_block('gallery')) %}
                    {% if editmode %}
                        <div class="image--box image-slider--item">
                            <span class="image--media">
                            {{ pimcore_image('swgalleryimage', {
                                "title": "Drag your image here",
                                "width": 500,
                                "thumbnail": "swgallery"
                            }) }}
                            </span>
                        </div>
                    {% else %}
                        <div class="image--box image-slider--item">
                            <span class="image--media">
                            {{ pimcore_image('swgalleryimage', { thumbnail: 'swgallery' }) }}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- sw-gallery -->