{% set swheadline = pimcore_input('swheadline') %}

{% if editmode %}
    <div class="page-header">
        <label>SW Headline</label>
        <h1>{{ swheadline|raw }}</h1>
    </div>
{% else %}
    <!-- sw-headline -->
    <h1>{{ swheadline|raw }}</h1>
    <!-- /sw-headline -->
{% endif %}
