{% set swtext = pimcore_wysiwyg('swtext') %}

{% if editmode %}
    <div>
        <label>SW Text</label>
        {{ swtext|raw }}
    </div>
{% else %}
    <!-- sw-text -->
    {{ swtext|raw }}
    <!-- /sw-text -->
{% endif %}
