{% set teaserheadline = pimcore_input('teaserheadline') %}
{% if editmode %}
    <label>{{ 'Teaser Headline'|trans }}</label>
    <h1>{{ teaserheadline|raw }}</h1>

    <div class="editmode-label">
        <label>{{ 'Teaser Dokument (Teasert Unterdokumente)'|trans }}</label>
        {{ pimcore_href("teaserdocument",{
            "types": ["document"],
            "subtypes": {
                "object": ["object"],
            },
            "classes": ["person"]
        }) }}
    </div>
{% else %}
    <div class="blog--listing block">
        {% if teaserheadline|raw|length > 0 %}
            <h1>{{ teaserheadline|raw }}</h1>
        {% endif %}
        {% if pimcore_href("teaserdocument").getElement() is instanceof('\\Pimcore\\Model\\Document') %}
            {% set teaserdata = prepareteaser(pimcore_href("teaserdocument").getElement()) %}

            {% for teaserelement in teaserdata %}
                <div class="blog--box panel has--border is--rounded">
                    <div class="blog--box-header">
                        <h2 class="blog--box-headline panel--title">
                            <a class="blog--box-link" href="{{ teaserelement.link }}"
                               title="{{ teaserelement.headline }}">{{ teaserelement.headline }}</a>
                        </h2>
                        <div class="blog--box-metadata"></div>
                    </div>
                    <div class="blog--box-content panel--body is--wide block">
                        {% if teaserelement.image|length > 0 %}
                            <div class="blog--box-picture">
                                <a href="{{ teaserelement.link }}" class="blog--picture-main"
                                   title="{{ teaserelement.headline }}">
                                    <img src="{{ teaserelement.image }}" alt="{{ teaserelement.headline }}">
                                </a>
                            </div>
                        {% endif %}
                        <div class="blog--box-description {% if teaserelement.image|length == 0 %}is--fluid{% endif %}">
                            <div class="blog--box-description-short">
                                {{ teaserelement.text|raw }}
                            </div>
                            <div class="blog--box-readmore">
                                <a class="btn is--primary is--small" href="{{ teaserelement.link }}"
                                   title="{{ teaserelement.headline }}">{{ 'mehr'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endif %}
