{% set swheadline2 = pimcore_input('swheadline2') %}

{% if editmode %}
    <div class="page-header">
        <label>SW Headline 2</label>
        <h2>{{ swheadline2|raw }}</h2>
    </div>
{% else %}
    <!-- sw-headline2 -->
    <h2>{{ swheadline2|raw }}</h2>
    <!-- /sw-headline2 -->
{% endif %}
