.rest-content {
    margin: 20px 0px 120px 204px;
}
.rest-content h1.content-area-label {
    color: #5924AB;
    font-family: GilroyMedium,sans-serif;
}
.rest-content label {
    color: #5924AB;
    font-family: GilroyMedium,sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    display: block;
    background-color: lightgrey;
    width: auto;
    padding: 5px;
}