{% set swheadline3 = pimcore_input('swheadline3') %}

{% if editmode %}
    <div class="page-header">
        <label>SW Headline 3</label>
        <h3>{{ swheadline3|raw }}</h3>
    </div>
{% else %}
    <!-- sw-headline3 -->
    <h3>{{ swheadline3|raw }}</h3>
    <!-- sw-headline3 -->
{% endif %}
