{% import '@MopeRest/Includes/macros.html.twig' as macros %}

{% if editmode %}
    <section class="image">
        <label>SW Image</label>
        {{ pimcore_image('swimage', { thumbnail: 'content' }) }}
    </section>
{% else %}
    <!-- sw-image -->
    {{ pimcore_image('swimage', { thumbnail: 'content' }) }}
    <!-- /sw-image -->
{% endif %}