{% if editmode %}
    <label>SW Products</label>
    {{ pimcore_multihref('products') }}
{% else %}

    <div class="product-slider product-slider--content" data-autoSlideSpeed="5" data-animationSpeed="500"
         data-ajaxMaxShow="25" data-product-slider="true">

        <div class="product-slider--container is--horizontal">
            {% for prod in pimcore_multihref('products') %}
                {% if prod is instanceof('\\Pimcore\\Model\\DataObject\\ShopwareProducts') %}
                    <div class="product-slider--item">

                        <div class="product--box box--emotion" data-page-index=""
                             data-ordernumber="{{ prod.getNumber() }}}"
                             data-category-id="">

                            <div class="box--content is--rounded">

                                <div class="product--badges"></div>

                                <div class="product--info">

                                    <a href="http://placeholder{url sViewport=detail sArticle={{ prod.getSwIdentifier() }}}"
                                       title="{{ prod.getName() }}" class="product--image">
                                        <span class="image--element">
                                                <span class="image--media">
                                                            <img srcset="{{ prod.getImage1() }}"
                                                                 alt=" {{ prod.getName() }}"
                                                                 title=" {{ prod.getName() }}">
                                                </span>
                                        </span></a>
                                    <div class="product--rating-container">
                                    </div>

                                    <a href="http://placeholder{url sViewport=detail sArticle={{ prod.getSwIdentifier() }}"
                                       class="product--title"
                                       title="{{ prod.getName() }}">
                                        {{ prod.getName() }}
                                    </a>

                                    <div class="product--price-info">

                                        <div class="price--unit">
                                        </div>

                                        <div class="product--price">
                                            <span class="price--default is--nowrap">{{ prod.getPrice().getData().price.price|round(2, 'floor') }}
                                                € *</span>
                                        </div>

                                    </div>

                                    <div class="product--actions"></div>

                                </div>

                            </div>

                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}